{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">{% trans "The Event" %}</h2>
            <hr class="primary">
            <dl class="dl-horizontal lead">
                <dt>{% trans "Saturday" %}</dt><dd></dd>
                <dt>14:00 - 14:30</dt>
                <dd>
                    {% trans "All the guests meet in front of the castle." %}
                <dt>14:30</dt>
                <dd>{% trans "Greeting the newly weds." %}</dd>
                <dt>15:00</dt>
                <dd>{% trans "Wedding ceremony." %}</dd>
                <dt>16:00</dt>
                <dd>{% trans "Let the ball begin!" %}</dd>
                <dt>{% trans "Sunday" %}</dt><dd>{% trans "Brunch" %}</dd>
            </dl>
        </div>
    </div>
</div>