{% load i18n %}
{% load staticfiles %}
<div class="container">
        <h2 class="section-heading text-center">{% trans "Registry" %}</h2>
        <hr class="primary">
    <p>
    {% trans "If you cannot decide on a gift, here's a short list of things that we're positive they'll serve us well in our marriage." %}
    <br>
        {% trans "If you chose one of them, please don't forget to mark it for others to see." %}
    </p>
    <p>
        <a href="https://docs.google.com/document/d/1USDJk8zKEPVCo2B0beWqtOwyByHujUWlEciYlN8ZGNc/edit?usp=sharing">{% trans "THE LIST" %}</a>
    </p>

</div>
